extends layout.pug

block content
    .home
        .container
            h1.home_text This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
            a.button.button--secondary(href="/generate") Create Post